<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jie.jdbc.mybatis.UserMapper">
    <select id="select" resultType="com.jie.jdbc.entity.User" parameterType="java.lang.Integer">
        SELECT * FROM "user" where id = #{id}
    </select>

    <insert id="insert" parameterType="com.jie.jdbc.entity.User">
        insert into "user"(name, age, sex) values (#{name}, #{age}, #{sex})
    </insert>
</mapper>